* {
    box-sizing: border-box;
}

body{
    background: #90C3D4;
    margin: 0;
    padding: 0;
}

form{
    margin-bottom: 100px;
    padding: 0;
}

.form_section {
    width: 400px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px;
    padding: 10px;
    height: 400px;
    text-align: left;
    overflow: scroll;
}

.button_navigation{
    margin: 20px;
    clear: both;
    text-align: right;
}

.section_header{
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.product_label{
    font-weight: bold;
}

.delete_symbol{
    cursor: pointer;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.homeLink, .homeLink img{
    float: left;
    width: 48px;
    height: 48px;
    margin: 8px;
}

.titleText{
    margin-top: 20px;
}

.button_navigation{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    background-color: white;
    margin: 0;
    padding: 15px;
    border-top: 1px solid black;
}

.containerGrid{
    margin: 90px 0 0 0;
    position: relative;
    text-align: center;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    z-index: 9000;
}

.delete_symbol:hover{
    border: 2px solid black;
    border-radius: 50%;
}