<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HSKA Field Service</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">

    <!-- SCRIPTS -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>

    <!-- leaflet awesome markers -->
    <link rel="stylesheet" href="./../css/plugins/leaflet.awesome-markers/leaflet.awesome-markers.css">
    <script src="./../js/plugins/leaflet.awesome-markers/leaflet.awesome-markers.js"></script>

    <!-- Templates -->
    <link rel="import" href="./templates/navigation.html"></link>

    <style>
        #mapid {
            max-width: 100%;
            min-width: 100%;
        }
    </style>

</head>
<body>

    <div class="container">
        <fancy-navigation></fancy-navigation>
        <div class="jumbotron">
            <h1>Map</h1>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div id="mapid" style="width: 600px; height: 400px;"></div>
            </div>
            <div class="col-sm-2">
                <form id="mapForm">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="warehouses"> warehouses
                            <a href="warehouse.html"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="serviceProduct"> serviceProduct
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="serviceCenter"> serviceCenter
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="customer"> customer
                        </label>
                        <a href="customer/customer.html"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>

<script>
    require('./../js/map/index.js')
</script>
</html>
