<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part Selection</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/service_completion/service_completion.css">
</head>
<body>
<div id="container">
    <h2>Select your used parts</h2>
<!-- TODO -->
    <div id="parts-list">
        <form>
            <select name="parts" multiple>
                <!-- options should come from json -->
                <option value="test">Hello World</option>
            </select>
            <input type="submit">
        </form>
    </div>
</div>
</body>
<script>
    let partSelection = require('../js/service_completion/part-selection');
</script>
</html>