<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Completion</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="container">
    <div id="service_product">
        <label for="service-completion-id">ID:</label><div id="service-completion-id"></div>
        <label for="service-order">Service order:</label><div id="service-order"></div>
        <label for="service-creation">Creation:</label><div id="service-creation"></div>
        <label for="service-used-parts">Used parts:</label><div id="service-used-parts"></div>
        <label for="service-real-time">Real time:</label><div id="service-real-time"></div>
        <label for="service-remarks">Remarks:</label><div id="service-remarks"></div>
    </div>
    <canvas id="signature-canvas" width="200px" height="200px"></canvas>
</div>
</body>
<script>
    let serviceCompletion = require('./../js/service-completion/service-completion');
</script>
</html>