<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Request</title>
    <link rel="stylesheet" href="../css/service_request/service_request.css">
</head>
<body>
    <form id="service_request_form">
    <h1>Service Request</h1>
    <div class="containerGrid">
    <div class="service_product form_section">
        <h4 class="section_header">Product</h4>
        <p class="product_label">Name</p>
        <p id="service_product_name"></p>
        <p class="product_label">Description</p>
        <p id="service_product_description" />
        <p class="product_label">Type</p>
        <p id="service_product_type" />
    </div>
    <div class="customer form_section">
        <h4 class="section_header">Customer</h4>
        <p class="product_label">Customer</p>
        <p id="customer_name" />
        <p class="product_label">Phone Number</p>
        <p id="customer_phone" />
        <p class="product_label">Email Address</p>
        <p id="customer_email" />
        <a href="#" id="customerDetails">Show Customer Details</a>
    </div>
    <div class="issue_details form_section">
        <h4 class="section_header">Issue Details</h4>
        <p class="product_label">Error Code</p>
        <p id="issue_error_code" />
        <p class="product_label">Description</p>
        <p id="issue_description" />
        <p class="product_label">Time</p>
        <p id="issue_timestamp" />
        <p class="product_label">Reason</p>
        <p id="issue_reason" />
    </div>
    <div class="service_properties form_section">
        <h4 class="section_header">Service Properties</h4>
        <p class="product_label">Service Type</p>
        <select disabled id="properties_service_type">
            <option value="INSPECTION">Inspection</option>
            <option value="REPAIR">Repair</option>
        </select>
        <p class="product_label">Priority</p>
        <select disabled id="properties_urgency">
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
            <option value="CRITICAL">Critical</option>
        </select>
        <p class="product_label">Type</p>
        <select disabled id="properties_type">
            <option value="SERVICE_CENTER">Service Center</option>
            <option value="FIELD_SERVICE">Field Service</option>
        </select>
    </div>
    <div class="create_service_order form_section">
        <h4 class="section_header">Service Order</h4>
        <p class="product_label">Technician</p>
        <select id="selected_technician">
            
        </select>
        <p class="product_label">Planned Time</p>
        <input type="text" id="planned_time"></p>
        <p class="product_label">Planned Parts</p>
        <ul id="planned_parts_list">
            
        </ul>        
        <input type="text" id="addPlannedParts" />
        <input type="button" id="addPlannedPartsButton" value ="Add Part"/>
    </div>
</div>
    <div class="button_navigation">
        <input type="button" onclick="window.location = 'index.html';" value="Back" />
        <input type="submit" value="Create Service Order" />
    </div>
    </form>



</body>
<script>
    require('../js/service_request/service-request');
</script>
</html>