<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Completion</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/service_completion/service_completion.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Service Completion</h1>
        </div>
    </div>
    <div class="row">
        <div id="service_product" class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <label for="service-completion-id">ID:</label>
                    <p id="service-completion-id"></p>
                </li>
                <li class="list-group-item">
                    <label for="service-order">Service order:</label>
                    <p id="service-order"></p>
                </li>
                <li class="list-group-item">
                    <label for="service-creation">Creation:</label>
                    <p id="service-creation"></p>
                </li>
                <li class="list-group-item">
                    <label for="service-used-parts">Used parts:</label>
                    <p id="service-used-parts"></p>
                </li>
                <li class="list-group-item">
                    <label for="service-real-time">Real time:</label>
                    <div id="service-real-time">
                        <label for="service-real-time-hours">Hours [HH]:</label>
                        <input type="number" class="form-control" min="0" id="service-real-time-hours"/>
                        <label for="service-real-time-minutes">Minutes [mm]:</label>
                        <input type="number" class="form-control" min="0" max="59" id="service-real-time-minutes"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="service-remarks">Remarks:</label>
                    <input type="text" class="form-control" id="service-remarks"/>
                </li>
            </ul>
        </div>
        <div id="customer"></div>
        <div id="complete"></div>
        <div id="signature" class="col-md-6">
            <div id="signature-container" class="well">
                <label for="signature">Signature</label>
                <canvas id="signature-canvas" width="400px" height="100px"></canvas>
                <button id="signature-clear-btn" class="btn">Clear</button>
            </div>
        </div>
    </div>
    <div class="container row">
        <button type="button" class="btn btn-lg btn-primary" style="float: right" id="complete-btn">Complete</button>
    </div>
</div>
</body>
<script>
    require('../js/service_completion/service-completion');
</script>
</html>