<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/warehouse/warehouse.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Warehouse</h1>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-striped" id="warehouse-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Lagerort</th>
                <th>Info</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody id="warehousetablebody">
            </tbody>
        </table>

    </div>
    <div class="container row">
        <a href="index.html" class="btn btn-lg btn-default" id="complete-cncl">Back</a>
    </div>
</div>

<div class="modal fade" id="infoDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h3>Details</h3>
            </div>
            <ul class="list-group modal-body" id="details-content"></ul>
            <div class="modal-footer">
                <button type="button" id="btnBack" class="btn btn-danger" data-dissmiss="modal">Close</button>

            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="addDialog" role="dialog">
    <div class="modal-dialog">
        <form role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h3>Hinzufügen</h3>
            </div>
            <ul class="list-group modal-body" id="add-content"></ul>
            <input type="hidden" name="partIndex" id="partIndex" val="" />
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-danger" data-dissmiss="modal">Cancel</button>
                <button type="button" id="btnAdd" class="btn btn-success" data-dissmiss="modal">Add</button>
            </div>            
        </div>
        </form>
    </div>

</body>
<script>
    require('../js/warehouse/warehouse');
</script>
</html>